@use "../../../../sass/mixins";
#contact {
  & article {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    padding: 5rem 2rem 2rem;
    border-radius: 10%;
    & .contactForm {
      @include mixins.flexMixin(column, center, flex-start);
      margin: 0 auto;
      padding-top: 3rem;
      max-width: 35rem;
      & .hidden {
        display: none;
      }
      & .form-control {
        width: 100%;
        @include mixins.flexMixin(column, center, flex-start);
        & label {
          color: var(--title-color);
          letter-spacing: 1px;
          font-weight: 700;
          opacity: 0.7;
          font-size: 2.2rem;
          margin-left: 2rem;
          transform: translateY(3.2rem);
          transition: 0.4s ease-out;
          &:has(+ textarea) {
            transform: translateY(5rem);
          }

          &:has(+ *:is(:focus, :user-invalid, :user-valid)) {
            transform: translateY(0);
          }
          &:has(+ *:is(:focus, :user-valid)) {
            color: var(--on-secondary);
          }

          &:has(+ *:user-invalid) {
            color: salmon;
          }
        }

        & .error {
          color: salmon;
          visibility: hidden;
          padding: 2px 2rem;
          padding-right: 0;
          transition: 0.3s ease-in;
        }

        & input,
        & textarea {
          font-size: 1.8rem;
          line-height: normal;
          border: none;
          border-radius: 1rem;
          padding: 0.5rem 2rem;
          width: 100%;
          background-color: transparent;
          color: var(--on-tertiary);
          border-bottom: 3px solid var(--border);
          height: 4rem;

          &:focus {
            outline: none;
          }
          &:user-invalid {
            border-bottom-color: salmon;
            & + .error {
              visibility: visible;
            }
          }
        }

        & textarea {
          height: 6rem;
          resize: none;
          scrollbar-width: none;
        }
      }

      & .submit {
        color: mediumaquamarine;
        font-size: 1.8rem;
        opacity: 0;
        padding: 2px 2rem;
        transition: 0.3s 0.5s ease-in;
        &.submitted {
          opacity: 1;
        }
      }
      & .btn {
        margin: 1rem 0 0 3rem;
        &:hover {
          cursor: pointer;
        }
        &:disabled {
          cursor: not-allowed;
          background-color: salmon;
          background-blend-mode: overlay;
          transform: none;
        }
      }
    }
  }
}
