@use "../../../sass/mixins";
:host {
  width: 100%;
}

footer {
  @include mixins.flexMixin(column);
  padding: 1rem;
  & .contact-details {
    justify-content: space-between;
    & li {
      margin: 0.5rem;
      & svg {
        height: 4rem;
        fill: var(--on-primary);
        border: 2px solid var(--on-primary);
        border-radius: 25%;
        transition: 0.2s ease-in;
        &:hover {
          fill: var(--on-secondary);
          border-color: var(--on-secondary);
          transform: scale(0.9);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 568px) {
  
}
