@use "../../../sass/mixins";

header {
  @include mixins.flexMixin;
  padding: 1rem;
  min-height: 70svh;
  margin-bottom: 10rem;
  & .greeter {
    transform: translate(-10%, 20%);
    @include mixins.gradText;
  }
}

@media (max-width: 768px) {
  header {
    background-position: 70% center;
    & .greeter {
      transform: translate(-4%, 40%);
    }
  }
}

@media (max-width: 568px) {
  header {
    background-position: 70% center;
    & .greeter {
      transform: translate(5%, 40%);
    }
  }
}