#about {
  height: 100%;

  & .about-header {
    margin-bottom: 10px;
    align-items: center;
  }
  & .about-body {
    padding: 5px;
    & h3{
      color: var(--title-color);
      margin: 1rem 0;
    }
    & p{
       margin-bottom: 2rem;
    }
  }
}
