#about {
  & .about-header {
    margin-bottom: 1rem;
    align-items: center;
  }
  & .about-body {
    padding: 0.5rem;
    & h3{
      color: var(--title-color);
      margin: 1rem 0;
    }
    & p{
       margin-bottom: 2rem;
    }
  }
}
