@use "../../../../sass/mixins";
#project {
  & .project-container {
    @include mixins.flexMixin;

    & .card {
      margin: 1rem;
      overflow: hidden;
      max-height: 80rem;
      max-width: 60%;
      transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      & > * {
        filter: blur(0px);
        opacity: 1;
        visibility: visible;
        transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      &.collapse {
        max-width: 10%;
        max-height: 65rem;
        border-radius: 5rem;
        color: transparent;
        border-color: transparent;
        & > * {
          filter: blur(20px);
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          cursor: pointer;
          filter: brightness(1.5);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #project {
    & .project-container {
      @include mixins.flexMixin(column);

      & .card {
        max-width: 90%;
        max-height: 80rem;

        &.collapse {
          max-width: 90%;
          max-height: 8rem;
        }
      }
    }
  }
}


@media screen and (max-width: 568px) {
  #project {
    & .project-container {
      & .card {
        margin: 0.5rem 0;
        max-width: 100%;
        max-height: 80rem;

        &.collapse {
          max-width: 100%;
          max-height: 5rem;
        }
      }
    }
  }
}
