@use "../sass/mixins";

.container {
  max-width: var(--max-width);
  padding: 2px;
  padding-top: 0;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--background-color);
  overflow-x: hidden;
  @include mixins.customScrollbarY;
}
