<nav>
  <div class="nav-container bg-p">
    <span class="brand">Anup Naik</span>
    <ul>
      <li>
        <a class="nav__btn btn btn-primary" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a class="nav__btn btn btn-primary" routerLink="/main" routerLinkActive="active">About</a>
      </li>
      <li>
        <a class="nav__btn btn btn-primary" routerLink="/main/project" routerLinkActive="active">Projects</a>
      </li>
      <li>
        <a href="/anup.pdf" download="anupResume" class="nav__btn btn btn-primary">
          Resume
        </a>
      </li>
    </ul>
  </div>
</nav>