<nav>
  <div class="nav-container bg-p">
    <a href="#hero" class="btn"> <span class="brand"> Anup Naik</span></a>
    <ul class="nav__list">
      <li>
        <a class="nav__btn btn btn-primary" href="#about">About</a>
      </li>
      <li>
        <a class="nav__btn btn btn-primary" href="#project">Projects</a>
      </li>
      <li>
        <a
          href="/anup.pdf"
          download="anupResume"
          class="nav__btn btn btn-primary"
        >
          Resume
        </a>
      </li>
    </ul>
  </div>
</nav>
