@use "../../../sass/mixins";
:host {
  width: 100%;
}
main {
  & section {
    max-width: 96%;
    min-height: 90vh;
    margin: 10rem auto;
    padding: 4rem;
    background-color: var(--secondary);
    color: var(--on-secondary);

    & .section-title {
      font-size: 3.2rem;
      letter-spacing: 2px;
      color: var(--title-color);
      padding: 0 3rem;
      border-bottom: 2px solid var(--border);
      padding-bottom: 1rem;
      margin-bottom: 3.5rem;
    }
  }
}

@media (max-width: 768px) {
  main {
    & section {
      padding: 6rem 3rem;

      & .section-title {
        text-align: center;
      }
    }
  }
}

@media (max-width: 568px) {
  main {
    & section {
      padding: 3rem 1rem;
    }
  }
}
