@use "./sass/mixins" as mixins;

:root {
  --max-width: 1000px;
  --highlight-start: #dd3e54;
  --highlight-end: #6be585;
  --brand-gradient-start: #acb6e5;
  --brand-gradient-end: #86fde8;
  --scrollbar-color-thumb: steelblue;
  --scrollbar-color-track: rgb(52, 30, 52);
  --background-color: #000;
  --overlay: #364e72a5;
  --border: #007bff;
  --title-color: #4e9deb;
  --dark: #2a2a2a;
  --light: #eaeaea;
  --primary: #0d1321;
  --on-primary: #748cab;
  --secondary: #1d2d44;
  --on-secondary: #f0ebd8;
  --tertiary: #396286;
  --on-tertiary: #f7d8ba;
  --box-shadow: 3px 2px 10px 1px #23232382;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  font-size: 2rem;
  line-height: 1.6;
  text-wrap-style: pretty;
  hyphens: auto;
  user-select: none;
}

ul {
  @include mixins.flexMixin(row, space-between);
  list-style: none;
}

// Reusable Styles

//card
.card {
  @include mixins.bg_txt(var(--light), var(--dark));
  @include mixins.glass;
  @include mixins.flexMixin(column);
  border-radius: 1.5rem;
  border: 2px solid var(--border);
  line-height: normal;
  box-shadow: var(--box-shadow);
  max-width: 100%;
  height: fit-content;
  margin-inline: auto;

  & .card-picture {
    display: inline-block;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    border-bottom: 2px solid var(--border);
    width: 100%;
    overflow: hidden;
    transition: 0.3s;

    & img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 25rem;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      object-position: center top;
      object-fit: cover;
    }
  }

  & .card-body {
    padding: 2rem;

    & .card-title {
      font-weight: 900;
      letter-spacing: 1px;
      font-size: 2.8rem;
      margin-bottom: 1rem;
    }

    & .card-description {
      margin-bottom: 0.5rem;
    }

    & .card-sub {
      margin-bottom: 1rem;
    }
  }
}

//Background and text Color
.bg-p {
  @include mixins.bg_txt(var(--primary), var(--on-primary));
}

.bg-s {
  @include mixins.bg_txt(var(--secondary), var(--on-secondary));
}

.bg-t {
  @include mixins.bg_txt(var(--tertiary), var(--on-tertiary));
}

.bg-l {
  @include mixins.bg_txt(var(--light), var(--dark));
}

.bg-d {
  @include mixins.bg_txt(var(--dark), var(--light));
}


//buttons
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s;

  &.btn-primary {
    @include mixins.bg_txt();

    &:hover {
      @include mixins.bg_txt(var(--on-primary), var(--primary));
    }
  }

  &.btn-secondary {
    @include mixins.bg_txt(var(--secondary), var(--on-secondary));
    &:hover {
      @include mixins.bg_txt(var(--on-secondary), var(--secondary));
    }
  }

  &.btn-tertiary {
    @include mixins.bg_txt(var(--tertiary), var(--on-tertiary));

    &:hover {
      @include mixins.bg_txt(var(--on-tertiary), var(--tertiary));
    }
  }

  &.btn-light {
    @include mixins.bg_txt(var(--light), var(--dark));

    &:hover {
      @include mixins.bg_txt(var(--dark), var(--light));
    }
  }

  &.btn-dark {
    @include mixins.bg_txt(var(--dark), var(--light));

    &:hover {
      @include mixins.bg_txt(var(--light), var(--dark));
    }
  }

  &.btn-brand {
    @include mixins.gradBg(
      var(--brand-gradient-start),
      var(--brand-gradient-end),
      var(--primary)
    );
    &:hover {
      transform: scale(1.05);
    }
  }
}

.highlight {
  @include mixins.gradText(var(--highlight-start), var(--highlight-end));
}

@media (max-width: 768px) {
  body {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .btn {
    padding: 0.8rem 1.2rem;
    font-weight: 400;
  }

  .card {
    & .card-body {
      & .card-title {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 568px) {
  body {
    font-size: 1.6rem;
  }

  .btn {
    padding: 0.8rem 1rem;
  }

  .card {
    & .card-body {
      & .card-title {
        font-size: 1.8rem;
      }
    }
  }
}
